.drawing{
    text-align: center;
    font-family: initial;
    background: black;
    color: white;
    height: 100vh;
    padding: 15px;
    h1{ color: yellow; }
    h3{ font-family: Arial; }
    marquee{
        font-size: 25px;
        color: red;
    }

}